@{
    ViewData["Title"] = "AzureML Client Test";
}

<div class="text-center">
    <form asp-action="GetWebAPI" method="post">
        <label>Sepal-Length :</label><br />
        <input type="text" name="sepal_length" value="" /><br /><br />
        <label>Sepal-Width :</label><br />
        <input type="text" name="sepal_width" value="" /><br /><br />
        <label>Petal-Length :</label><br />
        <input type="text" name="petal_length" value="" /><br /><br />
        <label>Petal-Width :</label><br />
        <input type="text" name="petal_width" value="" /><br /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
